@media screen and (max-width:890px){
    
    #specialOffers{
        #specialServices{
            padding: 0px;

            img{
                height: auto;
            }

            .servicosSpeciais{
                width: 70vw;
                margin: 0px;
            }
        }

    }
}

@media screen and(max-width:857px){

    
    #quartos{
        #container_quartos3{
            #c,#d,#e{
               width: 500px;
            }
        }

    }


}

@media screen and (max-width:800px){
    header{
        #elementosHeader{
            padding: 15px 20px;
            ul{
                display: none;
            }

            #botao_menu{
                display: initial;
                width: 30px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:700px){

    #quartos{
        padding: 50px 0px;

        #container_quartos{
            #a,#b{
                margin: 20px 0px;
                width: 100vw;
            }
        }

        #container_quartos3{
            #c,#d,#e{
                width: 100vw;
                margin-top: 20px;
            }
        }

    }

    #specialOffers{
        #specialServices{
            padding: 0px;

            img{
                height: auto;
            }

            .servicosSpeciais{
                width: 100vw;
                margin: 0px;
            }
        }

    }

    #quartos{
        #container_quartos3{
            #c,#d,#e{
                margin: 10px 0px;
            }
        }

    }
    
   
   
}